/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-red: #fd3e4f;
  --color-purple: #fd3fb3;
  --color-white: #fff;
  --color-red-text: #fd3e4f;
  --color-grey-text: #5c5c5c;
  --color-grey-light: #7b7b7b;
  --color-black-light: ##222222;
  --color-light-grey-text: #9a9a9a; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  height: 100vh; }

.wrapper {
  width: 100vw; }

.header {
  width: 100%;
  background-image: url("../images/bg-header.jpg");
  background-size: cover;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 12rem; }
  .header-top {
    display: flex;
    justify-content: space-around; }
    .header-top__logo {
      font-size: 3rem; }
  .header-nav {
    display: flex;
    align-items: center; }
    .header-nav__items {
      list-style: none;
      display: flex; }
    .header-nav__item {
      margin-right: 3rem; }
      .header-nav__item a {
        color: var(--color-white);
        text-decoration: none;
        font-size: 1.6rem; }
  .header-social-networks {
    display: flex;
    align-items: center;
    cursor: pointer; }
    .header-social-networks__icon {
      display: flex;
      height: 2rem;
      width: 2rem;
      fill: var(--color-white);
      align-self: center;
      margin-right: 1.5rem;
      transition: all .3s; }
      .header-social-networks__icon:hover {
        fill: var(--color-purple);
        transform: scale(1.5) rotate(360deg); }
  .header-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 15rem;
    text-align: center; }
    .header-content__text {
      margin-bottom: 4rem;
      font-size: 2.5rem;
      font-weight: 300; }
    .header-content__h1 {
      display: flex;
      margin-bottom: 8.5rem;
      font-size: 5rem; }
  .header-btn {
    display: flex;
    width: 19rem;
    height: 6rem;
    align-self: center;
    justify-content: center;
    background-image: linear-gradient(to right top, var(--color-purple), var(--color-red));
    border: none;
    font-size: 1.7rem;
    color: var(--color-white);
    overflow: hidden;
    position: relative;
    cursor: pointer; }
    .header-btn > * {
      display: inline-block;
      height: 100%;
      width: 100%;
      transition: .2s; }
    .header-btn__visible {
      display: inline-block;
      padding: 2rem 0rem; }
    .header-btn:hover {
      background-image: linear-gradient(to left, var(--color-red), var(--color-purple)); }
    .header-btn__invisible {
      display: inline-block;
      position: absolute;
      padding: 2rem 0;
      left: 0;
      top: -100%; }
    .header-btn:hover .header-btn__visible {
      transform: translateY(100%); }
    .header-btn:hover .header-btn__invisible {
      top: 0; }
    .header-btn:focus {
      outline: none;
      animation: pulsate 1s infinite; }

.section-about {
  min-height: 49rem;
  padding-top: 7.5rem;
  padding-left: 13.5rem;
  padding-right: 13.5rem;
  padding-bottom: 8rem;
  background-image: linear-gradient(to right top, var(--color-purple), var(--color-red));
  display: flex;
  flex-direction: column; }
  .section-about__title {
    font-size: 4rem;
    color: var(--color-white);
    margin-bottom: 4rem; }
  .section-about__text {
    font-size: 3rem;
    color: var(--color-white);
    padding-right: 20rem; }
  .section-about__btn {
    display: flex;
    width: 25rem;
    height: 6rem;
    background-color: transparent;
    border: 2px solid var(--color-white);
    border-radius: 3rem;
    color: var(--color-white);
    font-size: 2rem;
    align-self: flex-end;
    justify-content: center;
    margin-top: 4rem;
    cursor: pointer;
    outline: none; }
    .section-about__btn span {
      margin-left: 1rem; }
    .section-about__btn:hover > span {
      animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: translateX(0rem); }
  50% {
    transform: translateX(2rem); }
  100% {
    transform: translateX(0); } }

.advantages-section {
  min-height: 35rem;
  display: flex; }
  .advantages-section__block {
    padding: 11rem 7rem;
    position: relative; }
    .advantages-section__block:hover {
      background-image: linear-gradient(to right top, var(--color-purple), var(--color-red));
      padding-top: 5rem;
      padding-bottom: 3rem; }
    .advantages-section__block:hover .advantages-section__block__title {
      color: white; }
    .advantages-section__block:hover .advantages-section__block__text {
      color: white; }
    .advantages-section__block:hover .advantages-section__block__num {
      color: white;
      opacity: 100;
      position: relative;
      font-size: 8rem; }
    .advantages-section__block__num {
      font-size: 12rem;
      color: var(--color-red);
      opacity: .1;
      position: absolute;
      line-height: 12rem;
      z-index: 1; }
    .advantages-section__block__title {
      font-size: 2rem;
      color: var(--color-grey-text);
      margin-bottom: 3.5rem;
      top: 0;
      position: relative;
      z-index: 999; }
    .advantages-section__block__text {
      font-size: 1.4rem;
      color: var(--color-grey-light);
      z-index: 999;
      position: relative; }

.our-team-section {
  display: flex;
  flex-direction: column;
  padding: 4rem 7rem;
  margin-bottom: 20rem; }
  .our-team-section__title {
    font-size: 6rem;
    color: var(--color-black-light);
    margin-bottom: 8rem; }
  .our-team-section__blocks {
    display: flex;
    justify-content: space-between; }
  .our-team-section__block {
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 99;
    position: relative; }
    .our-team-section__block:hover .our-team-section__block::after {
      display: block;
      background: rgba(0, 0, 0, 0.6); }
    .our-team-section__block__figure {
      display: block;
      height: 46rem;
      width: 37rem;
      margin-bottom: 1.8rem; }
    .our-team-section__block__img {
      width: 100%;
      display: block;
      position: relative; }
    .our-team-section__block__name {
      font-size: 2rem; }
    .our-team-section__block__profession {
      font-family: 'Playfair Display', serif;
      font-size: 1.6rem;
      color: var(--color-light-grey-text); }

.inovation-section {
  display: flex;
  margin-bottom: 12rem; }

.left-side {
  height: 50rem;
  width: 74rem; }

.description-side {
  margin: 0 7rem; }
  .description-side__title {
    font-size: 4rem;
    color: var(--color-black-light);
    line-height: 5.5rem;
    margin-bottom: 4rem; }
    .description-side__title span {
      color: var(--color-red); }
  .description-side__text {
    font-size: 2rem;
    color: var(--color-grey-light);
    margin-bottom: 6rem; }

.section-features {
  display: flex;
  padding: 15rem 12rem 8rem 8rem;
  background-color: #000; }

.block-feature {
  padding-right: 10rem;
  display: flex;
  flex-direction: column;
  max-width: 150rem; }
  .block-feature__title {
    color: var(--color-white);
    font-size: 4rem;
    margin-bottom: 4rem; }
    .block-feature__title span {
      color: var(--color-red); }
  .block-feature__text {
    font-size: 2rem;
    color: #dfdfdf; }

.blocks {
  display: flex; }

.block-col {
  display: flex;
  flex-direction: column; }
  .block-col:not(:last-child) {
    margin-right: 6rem; }

.block-desc {
  color: var(--color-white);
  margin-bottom: 5rem; }
  .block-desc__icon {
    height: 5rem;
    width: 5rem;
    fill: var(--color-red);
    margin-bottom: 2rem; }
  .block-desc__title {
    font-size: 2rem;
    margin-bottom: 2rem; }
  .block-desc__text {
    font-size: 1.4rem;
    color: #dfdfdf; }

.footer {
  padding: 8.5rem 15rem 5rem 14rem;
  display: flex;
  flex-direction: column; }
  .footer__content {
    display: flex; }

.footer-left-side__title1 {
  font-size: 8rem;
  font-weight: 700;
  background-image: linear-gradient(to right top, var(--color-purple), var(--color-red));
  /* Standard syntax; must be last */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text; }

.footer-left-side__title2 {
  margin-left: 1rem;
  font-size: 2.5rem; }

.footer-left-side__text {
  font-size: 1.4rem; }

.footer-right-side {
  display: flex;
  flex-basis: 50% 50%; }

.twitter-block__title {
  font-size: 1.8rem;
  margin-bottom: 5rem; }

.twitter-block__title2 {
  font-size: 1.6rem;
  color: var(--color-purple);
  font-weight: 700; }

.twitter-block__title3 {
  display: inline-block;
  font-size: 1.4rem;
  margin-bottom: 3rem; }

.twitter-block__text {
  font-size: 1.4rem; }

.copyright {
  margin-top: 12.5rem;
  text-align: center;
  font-size: 1.4rem;
  color: var(--color-purple); }
  .copyright span {
    color: var(--color-red); }
